.simplebar-content a.MuiListItemButton-root {
    color: rgb(255, 255, 255, 0.6);
}
.simplebar-content a.MuiListItemButton-root.active {
    color: rgb(255, 255, 255, 1);
}
.simplebar-wrapper {
    background: #0843c5;
    color: white !important;
}

.rw-main {
    background-image: linear-gradient(to bottom, #1336a6, #284cb8, #3a61ca, #4c77db, #5f8deb) !important;
  }
  